<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href="/styles/SimpleStyle.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <img src="/img/formal.jpg">
        </div>
        {{>footer}}
    </body>
</html>
