<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href="/styles/SimpleStyle.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{err}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>