<!DOCTYPE html>
<html><head>
        <link rel="stylesheet" href="/styles/SimpleStyle.css">
        <script src="/js/ClientSideJS.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        </div>
        

        {{>footer}}
    
</body></html>